/* Body */
html, body {
  margin: 0;
  height: auto;
}

body {
  font-family: "Open Sans";
  display: flex;
  margin: 0;
}

/* Nav */

nav {
  display: flex;
  flex-direction: column;
  background-color: #1F1F3D;
  width: 25%;
  height: auto;
}

h1 {
  color: #E9E9F3;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #353567;
  padding-left: 15px;

}

h2 {
  color: #BFBFDD;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 15px;
}

.button-outline {
  border-bottom: 1px solid #353567;
  padding-bottom: 25px;
}

.starred-button {
  margin: 13px;
  color: #E9E9F3;
  background-color: #5356A4;
  width: 90%;
  height: 40px;
  font-size: 20px;
  border-width: 2px;
  border-radius: 3px;
  border-color: #494b91;
}

/* Main */
main {
  width: 100%;
}

/* Form Section */
form {
  width: 50%;
}

h3 {
  font-size: 18px;
  margin-bottom:10px;
  font-style: bold;
}

textarea {
  border-width: 2px;
  border-radius: 3px;
  border-color: #5356A4;
  font-family: "Open Sans";
  font-size: 15px;
  outline: none;
  resize: none;
  width: 100%;
}

button {
  background-color: #37396e;
}

.title-field {
  height: 70px;
}

.body-field{
  height: 160px;
  margin-bottom: 48px;
  align-items: center;
}

.save-button {
  height: 70px;
  margin-bottom: 48px;
  width: 100%;
  font-size: 30px;
  color: #FFFFFF;
}

.search-bar {
  height: 48px;
  display: flex;
  flex-direction: row;
}

.search-image {
  height: 34px;
  width: 34px;
  background-color: #37396E;
  border-width: 2px;
  border-radius: 3px;
  border-color: #5356A4;
  border-style: solid;
  padding: 8px;
}

.search-field {
  height: 100%;
  width: 100%;
  border-width: 2px;
  border-radius: 3px;
  border-color: #5356A4;
  border-style: solid;
  font-size: 17px;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: #A9AAD2;
  padding: 40px 0px;
}

/* Idea Card Section */

article {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 350px;
  margin: 15px;
  border: 2px solid #1F1F3D;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  color: #E9E9F3;
  margin: 10px;
}

p {
  font-size: 30px;
  font-weight: lighter;
  padding: 0px 20px;
  margin: 0px;
  height: 75%;
}

.idea-card-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #EAEAF4;
}

.card-upper-border {
  display: flex;
  justify-content: space-between;
  background-color: #1F1F3D;
  height: 56px;
}

.icon {
  height: 42px;
  width: 42px;
}

button {

}

.upper {
  background-color: #1F1F3D;
  padding: 0px;
  border: none;
}

.card-info-field {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  color: #1F1F3D;
  font-size: 18px;
  height: 288px;
}

.card-title {
  font-size: 30px;
  color: #1F1F3D;
  border: none;
  height: 25%;
  margin: 20px 0px;
  padding: 0px 20px;
}

.card-lower-border {
  display: flex;
  background-color: #5356A4;
  color: #E9E9F3;
  height: 56px;
}

.add-comment-button {
  background-color: #5356A4;
  padding: 0px;
  border: none;

}
