/* *{
  border: 1px solid green;
} */

/* html, body {
  margin: 0;
  height: 100%
} */

body {
  font-family: "Open Sans";
  display: flex;
  /* height: 100% */
}

nav {
  display: flex;
  flex-direction: column;
  background-color: #1F1F3D;
  width: 25%;
  /* height: 100%; */
}

h1 {
  color: #E9E9F3;
  border-bottom: 1px solid #353567;

}

main {
  width: 75%
}

form {
  width: 50%;
}

h3 {
  font-size: 16px;
  margin-top: 48px;
  /* margin-bottom: 16px; */
}

.title-field {
  height: 80px;
}

.body-field{
  height: 160px;
  margin-bottom: 48px;
}

.save-button {
  height: 80px;
  margin-bottom: 48px;
}

.search-bar {
  height: 48px;
}

.search-button {
  height: 100%;
}

.search-field {
  height: 100%;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #A9AAD2;
  height: 750px;
}

.idea-card-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #EAEAF4;
  /* height: 60%; */
}

.idea-card {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 350px;
  margin-top: 30px;
  border: 1px solid #1F1F3D;
}

button {
  padding: 0px;
}

.icon {
  height: 56px;
  width: 56px;
}

.upper {
  background-color: #1F1F3D;
}

.lower {
  background-color: #5356A4;
}

.card-upper-border {
  display: flex;
  justify-content: space-between;
  background-color: #1F1F3D;
  height: 56px;
}

.card-info-field {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  color: #1F1F3D;
  font-size: 18px;
  height: 288px;
}

.card-title {
  color: 1F1F3D;
}

h4 {
  font-size: 20px;
  color: #1F1F3D;
  font-weight: bold;
}

p {
  font-size: 20px;
}

.card-lower-border {
  display: flex;
  background-color: #5356A4;
  color: #E9E9F3;
  height: 56px;
}
